# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df= pd.read_csv(url, sep='\t')

In [3]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo=df

In [5]:
chipo.shape

(4622, 5)

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [7]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [8]:
#item_price is Object, we can convert it into Float by using lambda function as follows :
chipo['item_price']=chipo['item_price'].apply(lambda x: float(x[1:-1]))
#chipo['item_price']

In [9]:
chipo.dtypes # now item_price becomes float

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 4. How many products cost more than $10.00?

In [10]:
chipo_item=chipo[chipo['item_price']>10]['item_price']
chipo_item.count()

1130

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [11]:
chipo[['item_price','item_name']]

      item_price                              item_name
0           2.39           Chips and Fresh Tomato Salsa
1           3.39                                   Izze
2           3.39                       Nantucket Nectar
3           2.39  Chips and Tomatillo-Green Chili Salsa
4          16.98                           Chicken Bowl
5          10.98                           Chicken Bowl
6           1.69                          Side of Chips
7          11.75                          Steak Burrito
8           9.25                       Steak Soft Tacos
9           9.25                          Steak Burrito
10          4.45                    Chips and Guacamole
11          8.75                   Chicken Crispy Tacos
12          8.75                     Chicken Soft Tacos
13         11.25                           Chicken Bowl
14          4.45                    Chips and Guacamole
15          2.39  Chips and Tomatillo-Green Chili Salsa
16          8.49                        Chicken Burrito
17          8.49                        Chicken Burrito
18          2.18                            Canned Soda
19          8.75                           Chicken Bowl
20          4.45                    Chips and Guacamole
21          8.99                       Barbacoa Burrito
22          3.39                       Nantucket Nectar
23         10.98                        Chicken Burrito
24          3.39                                   Izze
25          2.39           Chips and Fresh Tomato Salsa
26          8.49                           Chicken Bowl
27          8.99                       Carnitas Burrito
28          1.09                            Canned Soda
29          8.49                        Chicken Burrito
...          ...                                    ...
4592       11.75                       Barbacoa Burrito
4593       11.75                          Carnitas Bowl
4594       11.75                          Barbacoa Bowl
4595        8.75                           Chicken Bowl
4596        4.45                    Chips and Guacamole
4597        1.25                      Canned Soft Drink
4598        1.50                          Bottled Water
4599        8.75                           Chicken Bowl
4600        4.45                    Chips and Guacamole
4601        1.25                      Canned Soft Drink
4602        9.25                       Barbacoa Burrito
4603        9.25                       Barbacoa Burrito
4604        8.75                           Chicken Bowl
4605        4.45                    Chips and Guacamole
4606        1.25                      Canned Soft Drink
4607       11.75                          Steak Burrito
4608       11.25                         Veggie Burrito
4609        1.25                      Canned Soft Drink
4610       11.75                          Steak Burrito
4611       11.25                         Veggie Burrito
4612        9.25                          Carnitas Bowl
4613        2.15                                  Chips
4614        1.50                          Bottled Water
4615        8.75                     Chicken Soft Tacos
4616        4.45                    Chips and Guacamole
4617       11.75                          Steak Burrito
4618       11.75                          Steak Burrito
4619       11.25                     Chicken Salad Bowl
4620        8.75                     Chicken Salad Bowl
4621        8.75                     Chicken Salad Bowl

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [12]:

x=chipo[['item_name']].sort_values(by=['item_name'], ascending=False).head(5)

In [13]:
x.head(5)

              item_name
3889  Veggie Soft Tacos
2851  Veggie Soft Tacos
738   Veggie Soft Tacos
1395  Veggie Soft Tacos
2384  Veggie Soft Tacos

In [14]:
#x.drop_duplicates()

### Step 7. What was the quantity of the most expensive item ordered?

In [15]:
chipo[['quantity', 'item_name','item_price']].sort_values(by=['item_price'], ascending=False).head(10)

      quantity                     item_name  item_price
3598        15  Chips and Fresh Tomato Salsa       44.25
3480         3                 Carnitas Bowl       35.25
1254         4               Chicken Burrito       35.00
3602         4               Chicken Burrito       35.00
3601         3                Veggie Burrito       33.75
409          3                  Chicken Bowl       32.94
1255         3                 Steak Burrito       27.75
3603         3                 Steak Burrito       27.75
3636         3               Chicken Burrito       26.25
3634         3               Chicken Burrito       26.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [16]:

vegg_s_b=chipo [chipo['item_name']== 'Veggie Salad Bowl']['item_name'].count()
vegg_s_b

18

#the quantity is 18. so 18 times a veggie salad bowl are ordered

### Step 9. How many times people orderd more than one Canned Soda?

In [17]:
cann_soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(cann_soda)

20

#the quantity is 20. so 20 times a canned soda are ordered

In [18]:
#! pip install nbdime